body {
    font-family: 'Roboto', sans-serif;
}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.carousel-display {
    width: 80vh;
    /*transform: translate(50%);*/
    /*float: 50vh;*/
    margin: 10px auto 20px;
    display: block
}
.jumbotron-display {
    object-fit: cover;
}
.signing_in {
    margin: 5vh;
    padding: 3vh 0 1vh 0;
}
#slide-out {
    background-color: #3356AF;
}
#smallLogo {
    /*height: 50px;*/
    width: 250px;
    padding-top: 25px;
    margin-bottom: 25px;

}