.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.carousel-display {
    width: 80vh;
    /*transform: translate(50%);*/
    /*float: 50vh;*/
    martin: 10px auto 20px;
    display: block
}
.jumbotron-display {
    object-fit: cover;
}